<h1>AwesomeElixir Parsed</h1>
<%= for  h2 <- @h2 do %>

<%= if elem(h2, 1) == [] do %>

<% else %>
<table>
  <thead>
    <tr>

      <th>Name</th>
      <th>Href</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% header = elem(h2, 0) %>
      <td><%= header.name %></td>
      <td><%= header.href %></td>
      </tbody>
    </tr>
  </tbody>
</table>
<table>
  <thead>
   <tr>
        <th>Name</th>
        <th>Href</th>
        <th>Stars</th>
        <th>LastCommit</th>
        <th></th>
      </tr>
  </thead>
  <tbody>
   <% li = elem(h2, 1) %>
        <%= for  li <- li do %>
        <tr>
        <td><%= li.name %> </td>
        <td><%= li.href %> </td>
        <td><%= li.stars %> </td>
        <td><%= li.last_commit %> </td>
        </tr>
        <% end %>
  </tbody>
</table>
<% end %>
<% end %>
